---
import {SITE_DESCRIPTION, SITE_TITLE} from "../../consts";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import CosmicBackground from "../../components/CosmicBackground/CosmicBackground.astro";
---
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>

</head>
<body>
<Header/>

<CosmicBackground/>

</body>
</html>
