---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import CosmicBackground from "../components/CosmicBackground/CosmicBackground.astro";
import PopOutPortrait from "../components/PopOutPortrait/PopOutPortrait.astro";
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>

<CosmicBackground>
    <Header/>

    <main>
        <h1>Hello There!</h1>
        <PopOutPortrait/>
        <p>
            Welcome the The Satellite Shell. My name is Keane and here is
            where I put ramblings, projects, and ideas the FDA has not
            deemed interesting enough for real life. Feel free to poke
            around, look through some of my creations, or get in contact
            with me through my socials above.

        </p>


    </main>

    <Footer/>
</CosmicBackground>
</body>
</html>
