---
import "./style.css"
import MyPortrait from "../../assets/Me_smiling.png"
import PortraitBackground from "../../assets/moon.jpg"
---


<div class="person">
    <div class="person__container">
        <img class="person__circle" src={PortraitBackground.src} alt=""/>
        <img class="person__img" src={MyPortrait.src} alt="Full body picture of myself"/>
    </div>


</div>
